<div class="center">
  <form class="" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Contraseña</label>
      <input type="password" class="form-control" formControlName="password">
      <p class="error text-danger"
        *ngIf="formulario.hasError('passwordcompare') && formulario.get('password')?.touched && formulario.get('comparePassword')?.touched">
        La
        contraseña no coincide</p>
    </div>
    <div class="mb-3">
      <label class="form-label">Repite la contraseña:</label>
      <input type="password" class="form-control" formControlName="comparePassword">
      <p class="error text-danger"
        *ngIf="formulario.hasError('passwordcompare') && formulario.get('comparePassword')?.touched">La
        contraseña no coincide</p>
    </div>
    <input class="btn mb-2" type="submit" value="Restablecer Contraseña" [disabled]="formulario.invalid">
  </form>
  <div *ngIf="hasError">
    <p>Error en contraseña</p>
  </div>
</div>