<div class="center">
  <form class="" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Escribe tu email</label>
      <input type="text" class="form-control" formControlName="email">
    </div>
    <input class="btn mb-2" type="submit" value="Recuperar Contraseña">
    <div>
      <p>Recibirás un enlace para crear la contraseña nueva por correo electrónico.</p>
    </div>
  </form>
  <div *ngIf="hasError">
    <p>Error en email</p>
  </div>
</div>